.project-img
{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
}
.project-img::before
{
    content: "";
    background: url("https://images.unsplash.com/photo-1499673610122-01c7122c5dcb?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDB8fGhpZ2glMjBsZXZlbCUyMGxhcHRvcCUyMHByb2dhbW1pbmd8ZW58MHx8MHx8fDA%3D");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: cover top;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.heading
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-img h1
{
    font-size: 2.4rem;
}
.project-img p
{
    font-size: 1.4rem;
    text-align: center;
}

@media screen and (max-width: 640px)
{
    .project-img h1
{
    font-size: 2rem;
}
.project-img p
{
    font-size: 1.4rem;
    text-align: center;
}
}