.container
{
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 250px;
}

.section_title p
{
  font-weight: 500;
  font-size: 25px;
  line-height: 1.5;
  color: #fff;
  margin-top: -60px;
  margin-right:556px;
}
.section_title h2
{
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5;
    text-transform: capitalize;
    color: #15295f;
}

.section_title.center
{
    text-align: center;
}

.experience-section
{
    padding: 65px 0 100px;
    background-color: #141414;
    position: relative;
}

.experience-section .experience-items
{
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 20px;
    display: flex;
}

.experience-item
{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width:48%;
}

.experience-info
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.experience-info p
{
    font-weight:600;
    font-size: 1.2rem;
    line-height: 22px;
    color: #fff;
    opacity: 1;
    -webkit-animation: showText 0.5s 1s linear forwards;
    animation: showText 0.5s 1s linear forwards;
    padding: 5px;
}
.progress-line
{
    margin-top: 7px;
    height: 10px;
    width: 100%;
    background-color: #cdcdcd;
    border-radius: 50px;
    position: relative;
}

.progress-line span
{
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    height: 100%;
    border-radius: 50px;
    position: absolute;
    background-color: #fd6e0a;
    transition: 1s all ;
}
.progress-line span.animate
{
    -webkit-animation: animate 1.5s 0.5s cubic-bezier(1,0,0.5,1) forwards;
    animation: animate 1.5s 0.5s cubic-bezier(1,0,0.5,1) forwards;
}

@-webkit-keyframes showText
{
    100%
    {
        opacity: 1;
    }
}

@keyframes showText
{
    100%
    {
        opacity: 1;
    }
}


@-webkit-keyframes animate
{
    100%
    {
       -webkit-transform: scaleX(1);
       transform: scaleX(1);
    }
}

@keyframes animate
{
    100%
    {
       -webkit-transform: scaleX(1);
       transform: scaleX(1);
    }
}

@media screen and (min-width:768px)
{
    .container
    {
        margin: 0 auto;

    }
}

@media screen and (min-width:992px)
{
    .container
    {
        max-width: 960px;
    }
}

@media screen and (min-width:1200px)
{
    .container
    {
        max-width: 1140px;
    }
}

@media screen and (min-width:1400px)
{
    .container
    {
        max-width: 1350px;
    }
}
@media screen and (max-width:640px)
{
    .experience-section .experience-items
{
    margin-top: -97px;
}
}